In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
import scipy.stats as stats

In [9]:
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
# Display the first few rows of the dataset
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [13]:
# Define the variable of interest (sepal length)
sepal_length = df['sepal length (cm)']

Formulate the hypotheses
Null Hypothesis (H0): The average sepal length is equal to the known population mean (e.g., 5.0 cm)
Alternative Hypothesis (H1): The average sepal length is not equal to 5.0 cm

In [15]:
# Known population mean
mu_0 = 5.0

# Sample mean
sample_mean = np.mean(sepal_length)

# Sample standard deviation
sample_std = np.std(sepal_length, ddof=1)

# Sample size
n = len(sepal_length)

Known Population Mean: We set the known population mean (ùúá0) to 5.0 cm.

Sample Mean: We calculate the sample mean using np.mean(sepal_length), 
             which gives us the average sepal length in our sample.

Sample Standard Deviation: We calculate the sample standard deviation using
                           np.std(sepal_length, ddof=1). The ddof=1 argument specifies 
                           that we want to use the sample standard deviation (Bessel's correction).

Sample Size: We determine the sample size by using len(sepal_length), which counts the 
                          number of entries in the selected sepal length data.

In [21]:
# Calculate Z-statistic
z_statistic = (sample_mean - mu_0) / (sample_std / np.sqrt(n))

In [27]:
# Calculate the p-value (two-tailed test)
p_value = 2 * (1 - stats.norm.cdf(abs(z_statistic)))

In [29]:
# Significance level
alpha = 0.05

# Decision
if p_value < alpha:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Reject the null hypothesis.

In [31]:
# Output results
print(f"Sample Mean: {sample_mean:.2f} cm")
print(f"Sample Standard Deviation: {sample_std:.2f} cm")
print(f"Z-statistic: {z_statistic:.2f}")
print(f"P-value: {p_value:.4f}")

Sample Mean: 5.84 cm
Sample Standard Deviation: 0.83 cm
Z-statistic: 12.47
P-value: 0.0000